In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('us-counties.csv')
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [39]:
def covariance(a,b):
    if len(a) != len(b):
        return

    a_mean = np.mean(a)
    b_mean = np.mean(b)

    sum = 0

    for i in range(0, len(a)):
        sum += ((a[i] - a_mean) * (b[i] - b_mean))

    return sum/(len(a)-1)

In [40]:
df.cov()
covariance(df["deaths"], df["deaths"])

                fips         cases        deaths
fips    2.594585e+08 -1.695190e+06 -8.009878e+04
cases  -1.695190e+06  1.818215e+07  1.444679e+06
deaths -8.009878e+04  1.444679e+06  1.318263e+05

In [47]:
def covariance_matrix(data):
    data = data.T
    mat = []
    for c in range(len(data)):
        mat.append([])
        x_data = data[c]
        for v in range(len(data)):
            y_data = data[v]
            mat[c].append(covariance(x_data, y_data))         
    return mat

In [48]:
col = df[["fips", "cases", "deaths"]]
covariance_matrix(col)

[[938472220.3333335, 938472220.3333335, 938472220.3333335],
 [938472220.3333335, 938472220.3333335, 938472220.3333335],
 [938472220.3333335, 938472220.3333335, 938472220.3333335]]

In [49]:
def cov_matrix_calculation(data):
    cov_mat = np.cov(data, rowvar=False)
    return cov_mat
cov_matrix_calculation(col)

array([[              nan,               nan,               nan],
       [              nan, 18182153.7242002 ,  1444679.05963867],
       [              nan,  1444679.05963867,   131826.30256491]])